mixin end()
    .end.checkwebp 
        .end__body.container 
            h2.end__title.lg Нaклейки для приучения к горшку зa 1 день
            .end__img 
                picture 
                    source(srcset="images/end.webp" type="image/webp") 
                    img(width="100%" height="100%" src="end.png" alt="" draggable="false")
            .end__content
                h2.end__title Нaклейки для приучения к горшку зa 1 день
                a(href="#!").btn.intro__btn.end__btn
                    picture 
                        source(srcset="images/wieldberries.webp" type="image/webp") 
                        img(width="100%" height="100%" src="wieldberries.png" loading="lazy" alt="" draggable="false")
                    | ЗАКАЗАТЬ - Wildberries.ru 
                a(href="#!").btn.intro__btn.end__btn
                    picture 
                        source(srcset="images/ozon.webp" type="image/webp") 
                        img(width="100%" height="100%" src="ozon.png" loading="lazy" alt="" draggable="false")
                    | ЗАКАЗАТЬ - OZON.ru 