mixin footer()
    footer.footer   
        .footer__body.container     
            .footer__left 
                p.footer__copy © 2021. Pottysticker.
                a(href="privacy.html").footer__privacy Политикa конфиденциaльности, информация о Доставке и Возврате товаров, Контактные данные 
            .footer__social 
                a(href="#!" title="facebook").footer__social-link
                    img(src="images/facebook.svg", alt="") 
                a(href="#!" title="youtube").footer__social-link
                    img(src="images/youtube.svg", alt="") 
                a(href="#!" title="instagram").footer__social-link
                    img(src="images/instagram.svg", alt="") 