mixin intro()
    .intro.checkwebp  
        .intro__body.container 
            .intro__img 
                picture 
                    source(srcset="images/intro.webp" type="image/webp") 
                    img(width="100%" height="100%" src="intro.png" alt="" draggable="false")
            .intro__content 
                h1.intro__title НАКЛЕЙКИ ДЛЯ ПРИУЧЕНИЯ К ГОРШКУ ЗА <span>1 ДЕНЬ</span>
                .intro__item 
                    .intro__item-img
                        img(src="images/icon-1.svg", alt="" draggable="false")
                    .intro__item-content 
                        p.intro__item-title Многоразовые
                        p.intro__item-p Срок действия одной наклейки 8-12 недель
                .intro__item 
                    .intro__item-img
                        img(src="images/icon-2.svg", alt="" draggable="false")
                    .intro__item-content 
                        p.intro__item-title Гарантированный результат
                        p.intro__item-p 1-2 дня на обучение, эффективность 98%
                .intro__item 
                    .intro__item-img
                        img(src="images/icon-3.svg", alt="" draggable="false")
                    .intro__item-content 
                        p.intro__item-title Захватывающий процесс обучения
                        p.intro__item-p Малыш думает, что это магия и хочет снова и снова увидеть картинку
                .intro__item 
                    .intro__item-img
                        img(src="images/icon-4.svg", alt="" draggable="false")
                    .intro__item-content 
                        p.intro__item-title Экономьте на подгузниках от 3220 руб. / Месяц
                        p.intro__item-p В среднем на ребенка используется от 8 до 12 подгузников в день
                .intro__item 
                    .intro__item-img
                        img(src="images/icon-5.svg", alt="" draggable="false")
                    .intro__item-content 
                        p.intro__item-title Для мaлышей от 12 месяцев
                        p.intro__item-p Возрaст от которого нужно приучaть к горшку, докaзaно ведущими педиaтрaми
                span.intro__offer Бесплатная доставка!  
                a(href="#!").btn.intro__btn 
                    picture 
                        source(srcset="images/wieldberries.webp" type="image/webp") 
                        img(width="100%" height="100%" src="wieldberries.png" loading="lazy" alt="" draggable="false")
                    | ЗАКАЗАТЬ - Wildberries.ru 
                a(href="#!").btn.intro__btn 
                    picture 
                        source(srcset="images/ozon.webp" type="image/webp") 
                        img(width="100%" height="100%" src="ozon.png" loading="lazy" alt="" draggable="false")
                    | ЗАКАЗАТЬ - OZON.ru 