mixin products()
    .products.checkwebp 
        .products__body.container 
            h2.products__title ВЫБЕРИТЕ НAБОР POTTYSTICKER 
            .products__content 
                .products__item
                    h3.products__item-title Нaбор МАЛЫШИ
                    p.products__item-p (Наборы по 2, 3, 5 шт + подарок)
                    picture 
                        source(srcset="images/products-1.webp" type="image/webp") 
                        img(width="100%" height="100%" src="products-1.png" alt="" draggable="false")
                    p.products__item-price от 167 р.                
                    p.products__item-oldprice Старая цена 797 руб!      
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ <br>Wildberries.ru
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ <br>Ozon.ru
                .products__item
                    h3.products__item-title Нaбор ТРАНСПОРТ
                    p.products__item-p (Наборы по 2, 3, 5 шт + подарок)
                    picture 
                        source(srcset="images/products-2.webp" type="image/webp") 
                        img(width="100%" height="100%" src="products-2.png" alt="" draggable="false")
                    p.products__item-price от 188 р.
                    p.products__item-oldprice Старая цена 796 руб!
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ <br>Wildberries.ru
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ <br>Ozon.ru
                .products__item
                    h3.products__item-title Стикер СЛОНИК
                    p.products__item-p (слонёнок 1 шт)
                    picture 
                        source(srcset="images/products-3.webp" type="image/webp") 
                        img(width="100%" height="100%" src="products-3.png" alt="" draggable="false")
                    p.products__item-price от 128 р.
                    p.products__item-oldprice Старая цена 507 руб!
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ <br>Wildberries.ru
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ<br>Ozon.ru
                .products__item
                    h3.products__item-title Нaбор ЖИВОТНЫЕ
                    p.products__item-p (Наборы по 2, 3, 5 шт)
                    picture 
                        source(srcset="images/products-4.webp" type="image/webp") 
                        img(width="100%" height="100%" src="products-4.png" alt="" draggable="false")
                    p.products__item-price от 162 р.
                    p.products__item-oldprice Старая цена 797 руб!
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ <br>Wildberries.ru
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ<br>Ozon.ru
                .products__item
                    h3.products__item-title Нaбор ЛЕСНЫЕ
                    p.products__item-p (Наборы по 2, 3, 5 шт + подарок)
                    picture 
                        source(srcset="images/products-5.webp" type="image/webp") 
                        img(width="100%" height="100%" src="products-5.png" alt="" draggable="false")
                    p.products__item-price от 167 р.
                    p.products__item-oldprice Старая цена 797 руб!
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ <br>Wildberries.ru
                .products__item
                    h3.products__item-title Нaбор ДИНОЗАВРИКИ
                    p.products__item-p (Наборы по 2, 3, 5 шт + подарок)
                    picture 
                        source(srcset="images/products-6.webp" type="image/webp") 
                        img(width="100%" height="100%" src="products-6.png" alt="" draggable="false")
                    p.products__item-price от 167 р.
                    p.products__item-oldprice Старая цена 797 руб!
                    a(href="#!").btn.products__item-btn  ЗАКАЗАТЬ <br>Wildberries.ru