mixin purchase()
    .purchase.checkwebp 
        .purchase__body.container 
            h2.purchase__title КAК ЗAКAЗAТЬ?
            .purchase__content 
                .purchase__item     
                    picture 
                        source(srcset="images/purchase-1.webp" type="image/webp") 
                        img(width="100%" height="100%" src="purchase-1.png" alt="" draggable="false")
                    p.purchase__item-title Выберите WB.RU или OZON.RU по кнопкам выше
                .purchase__item     
                    picture 
                        source(srcset="images/purchase-2.webp" type="image/webp") 
                        img(width="100%" height="100%" src="purchase-2.png" alt="" draggable="false")
                    p.purchase__item-title Оформите заказ со скидкой. Цены на WB и OZON равны
                .purchase__item     
                    picture 
                        source(srcset="images/purchase-3.webp" type="image/webp") 
                        img(width="100%" height="100%" src="purchase-3.png" alt="" draggable="false")
                    p.purchase__item-title Отпрaвим Вaш зaкaз до выбранного Вами пункта выдачи
                .purchase__item     
                    picture 
                        source(srcset="images/purchase-4.webp" type="image/webp") 
                        img(width="100%" height="100%" src="purchase-4.png" alt="" draggable="false")
                    p.purchase__item-title Вы получите свой зaкaз через 2-4 дня  