mixin reviews()
    .reviews.checkwebp
        .reviews__body.container 
            h2.reviews__title ОТЗЫВЫ
            .reviews__content 
                .reviews__item 
                    picture 
                        source(srcset="images/reviews-1.webp" type="image/webp") 
                        img(width="100%" height="100%" src="reviews-1.jpg" alt="" draggable="false")
                .reviews__item 
                    picture 
                        source(srcset="images/reviews-2.webp" type="image/webp") 
                        img(width="100%" height="100%" src="reviews-2.jpg" alt="" draggable="false")
                .reviews__item 
                    picture 
                        source(srcset="images/reviews-3.webp" type="image/webp") 
                        img(width="100%" height="100%" src="reviews-3.jpg" alt="" draggable="false")
                .reviews__item 
                    picture 
                        source(srcset="images/reviews-4.webp" type="image/webp") 
                        img(width="100%" height="100%" src="reviews-4.jpg" alt="" draggable="false")
                .reviews__item 
                    picture 
                        source(srcset="images/reviews-5.webp" type="image/webp") 
                        img(width="100%" height="100%" src="reviews-5.jpg" alt="" draggable="false")
                .reviews__item 
                    picture 
                        source(srcset="images/reviews-6.webp" type="image/webp") 
                        img(width="100%" height="100%" src="reviews-6.jpg" alt="" draggable="false")
