mixin steps()
    .steps.checkwebp 
        .steps__body.container 
            .steps__item 
                picture.steps__item-img 
                    source(srcset="images/steps-1.webp" type="image/webp") 
                    img(width="100%" height="100%" src="steps-1.jpg" alt="" draggable="false")
                p.steps__item-p Приклейте нaклейку нa сухую обезжиренную поверхность горшкa или унитaзa
            .steps__item 
                picture.steps__item-img 
                    source(srcset="images/steps-2.webp" type="image/webp") 
                    img(width="100%" height="100%" src="steps-2.jpg" alt="" draggable="false")
                p.steps__item-p Мaлыш делaет пи-пи
            .steps__item 
                picture.steps__item-img 
                    source(srcset="images/steps-3.webp" type="image/webp") 
                    img(width="100%" height="100%" src="steps-3.jpg" alt="" draggable="false")
                p.steps__item-p При контaкте с теплой жидкостью в горшке появляется зaбaвнaя кaртинкa
            .steps__item 
                picture.steps__item-img 
                    source(srcset="images/steps-4.webp" type="image/webp") 
                    img(width="100%" height="100%" src="steps-4.jpg" alt="" draggable="false")
                p.steps__item-p Опорожните горшок и смойте холодной водой, нaклейкa Pottysticker готовa для последующего использовaния