doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="styles/index.css")
    body 
        include components/header.pug 
        +header
        include components/intro.pug 
        +intro
        include components/how.pug 
        +how
        include components/steps.pug 
        +steps
        include components/products.pug 
        +products
        include components/unique.pug 
        +unique
        include components/reviews.pug 
        +reviews
        include components/purchase.pug 
        +purchase
        include components/end.pug 
        +end
        include components/footer.pug 
        +footer
        script(src="scripts/index.js")  